/* CSS Styles*/

#main {
background-color: rgb(191, 159, 221);
color:rgb(182, 110, 16)
}
#title {
color:rgb(182, 110, 16)
}
#img-div {
background-color: royalblue;
}
#image {

}
#img-caption {
color:sandybrown;
}
#tribute-info {
color: seagreen;
}
#tribute-link {
color: seagreen;
} 
